.Todo input:checked~span {
    text-decoration: line-through;
    color: gray;
}

.Todo {
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: 10px 0;
}

p+h2 {
    color: red;
    font-weight: bold;
}

p+h2+h2 {
    color: violet;
}

h2 {
    color: green;
    font-style: italic;
}