/* Muhehehehe
*/
h1.title {
    color: red;
    text-align: center;
}
h2.title {
    color: green;
}
ul~p {
    color: red;
    text-align: center;
}

ul~div {
    color: blue;
    text-align: center;
}